In [2]:
x= 100
x= 200
print(x)

200

In [3]:
x = 100
y = 200

In [5]:
sum = x+y
print(sum)

300

In [7]:
a=3
a

3

In [8]:
b = -3
b

-3

In [10]:
heoinhaeng = 28
heoinhaeng

28

In [11]:
name = "허인행"
address = "뉴욕 월스트리트"

In [12]:
print(name)
print(address)

허인행
뉴욕 월스트리트

In [13]:
x = 7
y = 6
print(x+y)

x = '7'
y = '6'
print(x+y)

13
76

In [14]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
score = 10
score = score + 1
score

11

In [18]:
x = 100
y = 200
sum = x+y
print(x, "과", y, "의 합은", sum, "입니다.")

100 과 200 의 합은 300 입니다.

In [19]:
a =176
type(a)

int

In [20]:
type(176.9)

float

In [28]:
print(type(int(4*7.1)))
print(type(str(4+7.1)))
print(type(4+7.1))

<class 'int'>
<class 'str'>
<class 'float'>

In [30]:
a = True
a
int(a)

1

In [31]:
input("아무 숫자나 입력하세요 : ")

아무 숫자나 입력하세요 : 2020

'2020'

In [33]:
a = input("아무 숫자나 입력하세요 : ")
a

아무 숫자나 입력하세요 : 2020

'2020'

In [36]:
name = input("Please enter your name: ")
print("hey",name, "how are you?")
print('welcome to python!')

Please enter your name: james
hey james how are you?
welcome to python!

In [41]:
name1 = input('please, your name : ')
name2 = input('please, your name : ')
name3 = input('please, your name : ')
print(name1, "님 올 2020년 혁신성장청년인재집중양성사업에 참여에 감사드립니다.")
print(name2, "님 올 2020년 혁신성장청년인재집중양성사업에 참여하여 좋은 결과 있기를 바랍니다.")
print(name3, "님 인생은 한방입니다. 매사에 최선을 다하여 좋은 기회가 있으면 놓치지 말고 확 잡으세요.")

please, your name : 허인행
please, your name : 허용
please, your name : 반충기
허인행 님 올 2020년 혁신성장청년인재집중양성사업에 참여에 감사드립니다.
허용 님 올 2020년 혁신성장청년인재집중양성사업에 참여하여 좋은 결과 있기를 바랍니다.
반충기 님 인생은 한방입니다. 매사에 최선을 다하여 좋은 기회가 있으면 놓치지 말고 확 잡으세요.

In [50]:
age = input("당신의 나이는 몇 살입니까?")
print("당신은", age, "년을 살았습니다.")

당신의 나이는 몇 살입니까?28
당신은 28 년을 살았습니다.

In [57]:
print('################')
print('#                                    #')
print('#   부동산 매물 광고   #')
print('#                                    #')
print('################')
input('서울시 종로구에 위치한 아주 좋은 아파트가 매물로 나왔습니다.''\n''이 아파트는 3개의 방을 가지고 있으며 가격은 9억원 입니다.')

################
#                                    #
#   부동산 매물 광고   #
#                                    #
################
서울시 종로구에 위치한 아주 좋은 아파트가 매물로 나왔습니다.
이 아파트는 3개의 방을 가지고 있으며 가격은 9억원 입니다.9억원

'9억원'

In [60]:
x = int(input("첫 번째 정수를 입력하시오: "))
y = int(input("두 번째 정수를 입력하시오: "))
sum = x+y
print(x, "과", y, "의 합은", sum, "입니다.")

첫 번째 정수를 입력하시오: 777
두 번째 정수를 입력하시오: 333
777 과 333 의 합은 1110 입니다.

In [85]:
height = int(input("please, your tall : "))
weight = float(input("please, your weight : "))

height+weight

please, your tall : 174
please, your weight : 60

234.0

In [87]:
height = int(input("당신의 키는?"))
print("당신의 적정 몸무게는", height-100, "kg 입니다.")

당신의 키는?174
당신의 적정 몸무게는 74 kg 입니다.

In [101]:
ground=input('경기장은 어디입니까?')
win=input('이긴팀은 어디입니까?')
lose=input('진팀은 어디입니까?')
mvp=input('우수선수는 누구입니까?')
score=input('스코어는 몇대몇입니까?')

print('\n')
print("=======================================")
print('오늘', ground, '에서 야구 경기가 열렸습니다.','\n')
print(win,'와', lose,'는 치열한 공방전을 펼쳤습니다.','\n')
print(mvp,'이 맹활약을 하였습니다.','\n')
print('결국',win,'가',lose,'를',score,'로 이겼습니다.')
print("=======================================")

경기장은 어디입니까?잠실야구장
이긴팀은 어디입니까?한화 이글스
진팀은 어디입니까?두산 베어스
우수선수는 누구입니까?
스코어는 몇대몇입니까?8:2


=======================================
오늘 잠실야구장 에서 야구 경기가 열렸습니다.

한화 이글스 와 두산 베어스 는 치열한 공방전을 펼쳤습니다.

 이 맹활약을 하였습니다.

결국 한화 이글스 가 두산 베어스 를 8:2 로 이겼습니다.
=======================================

In [106]:
name = input("이름을 입력허시오: ")
print(name,'씨, 안녕하세요?','\n''파이썬에 오신 것을 환영합니다.')
int1=int(input('첫 번째 정수를 입력하시오: '))
int2=int(input('두 번째 정수를 입력하시오: '))
print(int1,'과',int2,'의 합은',int1+int2,'입니다.')

이름을 입력허시오: 허인행
허인행 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.
첫 번째 정수를 입력하시오: 500
두 번째 정수를 입력하시오: 300
500 과 300 의 합은 800 입니다.